@import "tailwindcss";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: white;
}

nav h2 {
  font-size: 28px;
}

nav div {
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #1e293b;
  font-size: 16px;
}
nav a:hover {
  color: #2563eb;
}
main {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}

main h1 {
  font-size: 52px;
  margin-bottom: 15px;
}

main p {
  font-size: 20px;
  color: #64748b;
  max-width: 600px;
}
main button {
  margin-top: 30px;
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

main button:hover {
  background: #1d4ed8;
}